:root{
    --b: #000;
    --b2: #131313;
    --b3: #252525;
    --p: #eee;
    font-family: monospace;
}

.clr-dark{
    background: var(--b2) !important;
}
body {
    background: var(--b);
    color: var(--p);
}
.hidden {
    display: none !important;
}

.tooltip {
    color: #fff;
    position: absolute;
    margin-top: -27.5em;
    transition: .1s ease-out;
    transform: translateY(2ch);
/* }
.color_copy, .color_name { */
    opacity: 0;
}

input.col_end, input.col_start {
    text-transform: uppercase
}

.palette-color:hover ~ .tooltip{
    transform: translateY(0);
    opacity: 1;
}

.tooltip span:first-child {
    font-size: 1.5em
}
.tooltip span:last-child {
    margin-left: .5em;
/*     opacity: .85 */
    color: #bbb
}

.copy_notif {
    background: #0000;
    color: var(--p);
}

.copy_notif_show {
    animation: copied .5s ease-in forwards;
}
.copy_notif_show_failed {
    animation: copied_fail .5s ease-in forwards;
}


@keyframes copied {
    from {
        background: var(--p);
        color: var(--b3);
    }
    to {
        background: #0000;
        color: var(--p);
    }
}

@keyframes copied_fail {
    from {
        background: red;
        color: var(--b3);
    }
    to {
        background: #0000;
        color: var(--p);
    }
}

.palette {
    background: var(--b2);
    padding: .75em;
/*     width: fit-content; */
    max-width: 600px;
    margin: 1em auto;
/*     border-radius: 4px; */
    border-radius: .6em;
/*     border: 2px solid; */
/*     max-width: 500px; */
/*     margin-top: 10%; */
    margin-top: 22vh;
}
.palette-color {
}
.palette-color > .color {
    display: flex;
    justify-content: center;
}
.palette-color > .color > div {
    cursor: pointer;
    width: 80px;
    height: 120px;
/*     margin: 0 .2em;  */
/*     flex-shrink: 1;
    transition: .8s ease; */
        
/*     border: 2px dashed var(--p); */
}

.palette-color > .color > div{
    transition: .1s transform ease-in;
}

.palette-color > .color > div:hover {
    transform: translateY(-1.5ch);
/*     outline: 2px solid var(--p); */
/*     width: 150%; */
/*     flex-grow: 1; */
}
/* .palette-color > .color > div:nth-of-type(even):hover {
    transform: translateY(1.5ch);
} */

.palette-color > .color > div:first-child{
    border-radius: .75em 0 0 .75em;
}
.palette-color > .color > div:last-child{
    border-radius: 0 .75em .75em 0;
}


fieldset{
    margin-top: .5em;
    padding-left: 0;
    border: none;
}

fieldset.field {
    display: flex;
    justify-content: center;
/*     flex-basis: revert; */
}
fieldset > input[type="number"] {
/*     flex-shrink: 1; */
/*     flex-grow: 0; */
    max-width: 3em;
}
/* .field > input{ */
.field > .clr-field{
/*     max-width: 6em; */
    margin-right: .5em
}
.field > .clr-field > input {
    max-width: 7em;
}
.palette fieldset input{
    border: none;
    color: var(--p);
    padding: .3em;
    background: var(--b3);
}
.field > label[for="copymenutoggle"] {
    cursor: pointer;
    margin-left: .5em;
    padding: .3em .6em;
    background:  var(--b3);
/*     line-height: 1.5em; */
/*     vertical-align: -1em  !important; */
}
.field > label[for=copymenutoggle] > span {
    vertical-align: .1em
    
}

input[type="button"] {
   cursor: pointer;
    transition: none;
}
input[type="button"]:hover {
    background: var(--p);
    color: var(--b3);
}

fieldset.copymenu {
    display: block;
    line-height: 4.5ch;
    max-width: fit-content;
    margin: auto;
}
fieldset.copymenu > input {
/*     display: block !important; */
}

#footer{
    position: absolute;
    display: flex;
/*     flex-grow: ; */
    bottom: 0;
    width: calc(100% - .75em * 2);
    padding: .75em;
    background: var(--b2);
    color: var(--p);
}

#footer > span:last-child {
    flex-grow: 1;
    text-align: right;
/*     background: red */
}
#footer a {
    color: var(--p);
    text-decoration: none;
}